.academic-background {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 100px;
	gap: 50px;
}
.academic-background .container {
	display:flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1300px;
	margin: 0px 20px;
	padding:50px;
	border-radius: 30px;
	background-color: var(--secondary-color);
	gap: 50px;
}

.academic-background .container.even {
	flex-direction: row-reverse;
}

.academic-background .container .item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 80%;
	gap: 20px;
}

.academic-background .container img {
	width: auto;
	height: 17vw;
	margin: 0px 50px;
}

.academic-background .stack {
    position: relative;
    flex-shrink: 0;
    width: auto;
    height: 17vw;
    margin: 0px 50px;
    aspect-ratio: 1;
}

.academic-background .stack img.background {
	z-index: 1;
	filter: invert(1);
}

.academic-background .stack img {
    position: absolute;
    left: -50px;
    z-index: 2;
    object-fit: contain;
}

/* Responsive */
@media (max-width: 1032px) {
	.academic-background .container img {
		margin: 0px 20px;
	}
	.academic-background .stack {
		margin: 0px 20px;
	}
}

@media screen and (max-width: 956px) and (orientation: landscape), (max-width: 800px) {
	.academic-background .container {
		flex-direction: column !important;
		padding: 20px
	}

	.academic-background .container .item {
		max-width: none;
	}

	.academic-background .stack img {
		left: -25px;
	}
}

@media screen and (max-width: 500px) {
	.academic-background .container {
		flex-direction: column !important;
		padding: 20px
	}

	.academic-background .container .item {
		max-width: none;
	}

	.academic-background .stack img {
		left: -25px;
	}
}