.achievements {
    align-items: normal;
}

.achievements .carousel {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    gap: 100px;
    z-index: 2;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    padding-left: calc(50% - 250px);
    padding-right: calc(50% - 250px);
}

.achievements .carousel::-webkit-scrollbar {
    display: none;
}

.achievements .carousel .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    flex-shrink: 0;
    width: 500px;
    height: 70vh;
    max-width: 90vw;
    max-height: 700px;
    min-height: 450px;
    padding: 50px;
    gap: 10px;
    border-radius: 20px;
    scroll-snap-align: center;
}

.achievements .carousel .item img {
    width: 100%;
    height: auto;
}

.achievements .carousel .item img.portrait {
    width: auto;
    height: 70%;
}

.achievements .carousel .item h3 {
    font-size: var(--text-xl);
}

.achievements .carousel .item p {
    font-size: var(--text-s);
    text-align: center;
}


/* Dots */
.achievements #carouselDotsBackground {
    width: fit-content;
    height: fit-content;
    padding: 5px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 0.2s ease;
    border-radius: 10px;
}

.achievements .carousel-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: 8px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    transition: background-color 0.2s ease, gap 0.2s ease;
    cursor: grab;
    user-select: none;
    -webkit-user-select: none;
}

.achievements .carousel-dots .dot {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: var(--secondary-color);
    transition: width 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
}

.achievements .carousel-dots .dot.active {
    width: 20px;
    border-radius: 4px;
    background-color: var(--accent1-color);
}

/* Scrub Dots */
.achievements #carouselDotsBackground.scrubbing {
    background-color: var(--primary-color);
    cursor: grabbing;
}

.achievements .carousel-dots.scrubbing .dot {
    width: 8px;
    opacity: 0.5;
    transition: opacity 0.15s ease;
}

.achievements .carousel-dots.scrubbing .dot.active {
    opacity: 1;
    background-color: var(--accent1-color);
}

/* Responsive */
@media screen and (max-width: 1024px) {
    .achievements .carousel {
        padding-left: calc(50% - 150px);
        padding-right: calc(50% - 150px);
    }
    .achievements .carousel .item {
        width: 400px;
        height: 400px;
        padding: 10px;
        
    }
    .achievements .carousel .item img {
        width: 80%;
        height: auto;
    }
        .achievements .carousel .item img.portrait {
        width: auto;
        height: 60%;
    }
}