.contact {
	align-items: normal;
	padding-top: 15px;
	padding-left: 40px;
	background-color: var(--secondary-background-color);
}

.contact h2 {
	padding-top: 20px;
}

.contact .container {
	display: flex;
	gap: 100px;
}

.contact ul {
	display: flex;
	flex-direction: column;
	list-style-type: none;
	gap: 20px;
}

.contact img.icon {
	width: 20px;
	filter: invert(1);
	height: 20px
}

.contact a {
	display: flex;
	align-items: center;
	gap: 10px;
}

/* Responsive */
@media screen and (max-width: 580px) {
	.contact .container {
		flex-direction: column;
		gap: 30px;
	}
}