.contact{
	background-color: var(--secondary-background-color);
}
.contact .container{
	display: flex;
	gap: 100px;
}
.contact ul{
	display: flex;
	list-style-type: none;
	flex-direction: column;
	gap: 20px;
}
.contact img.icon{
	width: 20px;
	height: 20px;
	filter: invert(1)
}

.contact a{
	display: flex;
	align-items: center;
	gap: 10px;
}