.feature-work .item {
    display: flex;
    align-items: center;
    background-color: var(--secondary-color);
    width: 95vw;
    height: 45vw;
    padding: 10px;
    gap: 20px;
    border-radius: 30px;
}

.feature-work .item.even {
    flex-direction: row-reverse;
}

.feature-work .item img {
    width: auto;
    height: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
    object-position: center;
    border-radius: 25px;
}

.feature-work .item .text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 50px 20px 50px 50px;
}

.feature-work .item .text p {
    font-size: var(--text-s);
    line-height: 1.8;
}


.feature-work .item .text a img.icon{
	width: 20px;
	height: 20px;
	filter: invert(1)
}

/* Responsive */
@media screen and (max-width: 1032px) {
    .feature-work .item {
        flex-direction: column !important;
        height: fit-content;
    }

    .feature-work .item .text {
        padding: 20px 10px 20px 20px;
        gap: 20px;
    }

    .feature-work .item img {
        width: 100%;
        height: auto;
    }
}