.feature-work {
    animation: appear linear;
    animation-timeline: view();
    animation-range: 0% 20%;
}

.feature-work .item {
    display: flex;
    align-items: center;
    width: 90vw;
    height: 45vw;
    padding: 10px;
    border-radius: 30px;
    background-color: var(--secondary-color);
    animation: appear linear;
    animation-timeline: view();
    animation-range: 0% 40%;
    gap: 20px;
}

.feature-work .item.even {
    flex-direction: row-reverse;
}

.feature-work .item img {
    width: auto;
    height: 100%;
    border-radius: 25px;
    aspect-ratio: 4/3;
    object-fit: cover;
    object-position: center;
}

.feature-work .item .text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 50px 20px 50px 50px;
}

.feature-work .item .text p {
    font-size: var(--text-s);
    line-height: 1.8;
}


.feature-work .item .text a img.icon{
	width: 20px;
	filter: invert(1);
	height: 20px
}

/* Responsive */
@media screen and (max-width: 1032px) {
    .feature-work .item {
        flex-direction: column !important;
        height: fit-content;
        animation-range: 0% 25%;
    }

    .feature-work .item .text {
        padding: 20px 10px 20px 20px;
        gap: 20px;
    }

    .feature-work .item .text h3 {
        order: 1;
    }

    .feature-work .item .text p {
        order: 3;
    }

    .feature-work .item .text a {
        order: 2;
    }

    .feature-work .item img {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-height: 500px) {
    .feature-work {
        animation-range: 0% 10%;
    }
}