.home {
	justify-content: center;
	align-items: center;
	font-size: var(--text-m);
	padding-top: 0px;
}

.introduction {
	display: flex;
	justify-content: center;
	align-items: center;
	height: clamp(auto, 70vh, 1000px);
	margin-top: clamp(20px, 15vh, 500px);
	margin-bottom: clamp(20px, 20vh, 500px);
	animation: floatUp 1.5s ease forwards;
	gap: 10vw;
}

.home #portrait {
	width: 30vw;
	height: auto;
	border-radius: 50px;
}

.home .name {
    z-index: 2;
	align-items: center;
	gap: 20px;
}

.home .name .statement {
	padding-top: 30px;
}

h1#name {
    color: var(--accent1-color);
}

/* Responsive */
@media screen and (max-width: 956px) and (orientation: landscape) {
	.introduction {
		margin-top: -10px;
	}

}

@media screen and (max-width: 500px) {
	.introduction {
		flex-direction: column;
	}
	.home #portrait {
		width: 65vw;
	}
}