/*-------------------------------------

--------------------------------------*/
/*-------------------------------------
Color Palette
--------------------------------------*/
:root {
	--text-color: #d3d3d3;
	--navbartext-color:#e4e4e4;
	--accent-color: #9fd3c7;
	--primary-color: #385170;
	--secondary-color: #112e52;
	--secondary-background-color: #0e2036;
	--primary-background-color: #0f1821;
}
/*-------------------------------------
Reset code
--------------------------------------*/
*{
    padding: 0;
    margin: 0;
}

*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}

*{
	font-family: "Rufina", "Noto Sans Thai", serif;
	color: var(--text-color);
}

/*-------------------------------------
body
--------------------------------------*/
body{
	font-size:16px;
    text-transform:initial;
	background-color: var(--primary-background-color);
    max-width:1920px;
	overflow-x:hidden;
}

section{
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 40px;
	padding-right: 40px;
}

section.even{
	background-color: var(--secondary-background-color);
}

h1{
	font-size: 80px;
}

h2{
	font-size: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
}

h3{
	font-size: 30px;
}

h4{
	font-size: 20px;
}

h5{
	font-size: 18px;
}

p{
	font-size: 15px;
}

a{
    font-size: 15px;
    text-decoration: none;
    color: var(--text-color);
}

/*-------------------------------------
home
--------------------------------------*/
.home{
	font-size: 20px;
	justify-content: center;
	align-items: center;
}

.introduction{
	display: flex;
	justify-content: center;
	align-items: center;
	height: clamp(auto, 70vh, 1000px);
	margin-top: clamp(20px, 15vh, 500px);
	margin-bottom: clamp(20px, 25vh, 500px);
	gap: 2vw;
}

#portrait {
	width: 30vw;
	height: auto;
	border-radius: 50px;
}

.home .name{
	display: inline-block;
	align-items: center;
	width: 800px;
	padding:50px;
	gap: 20px;
}

.home .name .statement{
	width: 90%;
	padding-top: 30px;
}

.home .personal-facts{
	display: flex;
	justify-content: center;
	margin-top: 50px;
	margin-bottom: 50px;
	gap: 5vw;
}

.home .container.grid{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-flow: row;
	column-gap: 10vw;
	row-gap: 2vw;
}

.home .container.grid .fact-head{
	background-color: var(--secondary-color);
	padding: 20px;
	border-radius: 20px;
}

.home .personal-facts ul{
	display: flex;
	flex-direction: column;
	padding-top:20px;
	padding-left:35px;
	gap: 15px;
}
/*-------------------------------------
academic background
--------------------------------------*/
.academic-background{
	padding-top: 50px;
	padding-bottom: 100px;
}
.academic-background .academic-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 50px;
	padding-bottom: 100px;
	gap: 50px;
}
.academic-background .container{
	display:flex;
	justify-content: space-between;
	max-width: 1300px;
	gap: 50px;
}

.academic-background .container .item{
	display: flex;
	flex-direction: column;
	max-width: 80%;
	gap: 10px;
	justify-content: center;
}

.academic-background .container img{
	width: auto;
	height: 17vw;
	margin-left: 50px;
	margin-right: 50px;
}
/*-------------------------------------
contact
--------------------------------------*/
.contact ul{
	display: flex;
	list-style-type: none;
	flex-direction: column;
	gap: 20px;
}
.contact img.icon{
	width: 20px;
	height: 20px;
	filter: invert(1)
}

.contact a{
	display: flex;
	align-items: center;
	gap: 10px;
}